/*GLOBAL*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
*{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}
.container{
    margin: 0 auto;
    width: 960px;
    bor der: 1px white solid;
}
.wrapper{
    background: #070707 url('../img/tint1.png') center;
}
.btn{
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 44px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    width: 140px;
    height: 44px;
}
.btn:hover{
    background-color: #663d15; 
}
.indent{
    margin-right: 20px;
}
/*HEADER*/
.top-header{
    width: 100%;
    height: 72px;
    background-color: #000;
}
.main-nav li{
    float: left;
    list-style: none;
    font-size: 0;
    padding: 0 20px;
}
.main-nav a{
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 72px;
    padding: 26px 0;
}
.main-nav a:hover{
    background-color: #242424;
    -webkit-box-shadow: inset 0px -4px 0px #fff;
    -moz-box-shadow: inset 0px -4px 0px #fff;
    box-shadow: inset 0px -4px 0px #fff;

}
.main-nav li:hover{
    background-color: #242424;
}
.login{
    float: right;
    position: relative;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 72px;
    padding-left: 48px;
    padding-right: 20px;
}
.login:before{
    content: '';
    position: absolute;
    top: 28px;
    left: 15px;
    width: 18px;
    height: 16px;
    background: url('../img/icon-login.png') no-repeat center;
}
.login:hover{
    background-color: #242424;
}
.login:hover:before{
    opacity: 0.3;
}
/*LOGO*/
.main-logo{
    display: block;
    margin: 0 auto;
    margin-top: 60px;
}
/*ADVANTAGES*/
.advantages{
    padding: 0 10px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 31px;
}
.advantages-item{
    float: left;
    text-align: center;
    width: 33.3%;
}
.advantages-item span{
    font-size: 30px;
    font-weight: bold;
    line-height: 40px; 
}
.advantages-item span:after{
    display: block;
    margin: 0 auto;
    -moz-transform: rotate(45deg); /* Для Firefox */
    -ms-transform: rotate(45deg); /* Для IE */
    -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(45deg); /* Для Opera */
    transform: rotate(45deg);
    content: ' ';
    width: 20px;
    height: 20px;
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 30px;
}
.advantages-item p{
    font-size: 14px;
    font-weight: bold;
    line-height: 24px; 
    margin-bottom: 80px;
}
/*NEWS&PHOTO*/
.content{
    display: inline-block;
    width: 100%;
    background-color: #fff;
    margin-bottom: 35px;
}
.content-item{
    width: 400px;
    padding-left: 80px;
    float: left;
    margin-bottom: 50px;
}
.content-item h2{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 42px; 
    margin-top: 50px;
    margin-bottom: 30px;
}
.content-item p{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px; 
    padding-right: 30px;
}
.content-item aside{
    font-size: 14px;
    font-weight: bold;
    line-height: 24px; 
    margin-bottom: 33px;
}
#photo-gallery{
    border: 8px #fff solid;
    background-color: #242424;
}
.prev,
.next{
    margin-top: 55px; 
}
input{
    margin-right: 20px;
    width: 120px;
    height: 39px;
    border: 2px #000 solid;
    margin-bottom: 20px;
    padding-left: 15px;
    outline: none;
}
input:focus,
input:hover {
    border-color: #663d15;
}
::-webkit-input-placeholder {font-size: 14px; color:#000; line-height:24px; text-transform: uppercase; }
::-moz-placeholder          {font-size: 14px; color:#000; line-height:24px; text-transform: uppercase; }/* Firefox 19+ */
:-moz-placeholder           {font-size: 14px; color:#000; line-height:24px; text-transform: uppercase; }/* Firefox 18- */
:-ms-input-placeholder      {font-size: 14px; color:#000; line-height:24px; text-transform: uppercase; }
.submit{
    width: 304px;
}
/*FOOTER*/
.footer{
    margin-top: 30px;
    height: 190px;
    background-image: url('../img/footer.png');
}
.footer-item{
    margin-top: 65px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px; 
    color: #fff;
}
.footer-item:first-child{
    margin-right: 100px;
}
.footer-item:last-child{
    float: right;
}
.footer-find{
    color: #fff
}
.footer-title{
    text-align: center;
    margin-bottom: 18px;
}
.footer-social{
    display: inline-block;
    content: '';
    width: 43px;
    height: 43px;
    margin-right: 6px;
    font-size: 0;
}
.footer-social:last-child{
    margin-right: 0;
}
.vk{
    background: #070707 url('../img/footer-vk.png') no-repeat 0 -43px;
}
.facebook{
    background: #070707 url('../img/footer-fb.png') no-repeat 0 -43px;
}
.inst{
    background: #070707 url('../img/footer-inst.png') no-repeat 0 -43px;
}
.htmlacademy-link:hover{
    color: #000;
    background-color: #fff;
}
.vk:hover{
   background: #fff url('../img/footer-vk.png') no-repeat 0 0;
}
.facebook:hover{
   background: #fff url('../img/footer-fb.png') no-repeat 0 0;
}
.inst:hover{
   background: #fff url('../img/footer-inst.png') no-repeat 0 0;
}