/*GLOBAL*/
html,
body {
  margin: 0;
  padding: 0;
  line-height: 0;
  font-family: 'PT Sans Narrow', sans-serif;
}
.container {
  margin: 0 auto;
  width: 960px;
}
.wrapper-index {
   background: #070707 url('../img/tint1.png') no-repeat;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.btn {
  display: inline-block;
  padding-left: 34px;
  padding-right: 34px;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 14px;
  line-height: 44px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background-color: #000;
}
.btn:hover {
  background-color: #663d15; 
}
.indent {
  margin-right: 20px;
}
/*HEADER*/
.top-header {
  width: 100%;
  background-color: #000000;
}
.main-nav>ul {
  margin:0;
  padding: 0;
  padding-left: 10px;
}
.main-nav li {
  float: left;
  list-style: none;
  font-size: 0;
  margin: 0;
  padding: 0 20px;
}
.main-nav a {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 72px;
  padding: 26px 0;
}
.main-nav a:hover {
  background-color: #242424;
  -webkit-box-shadow: inset 0px -4px 0px #fff;
  -moz-box-shadow: inset 0px -4px 0px #fff;
  box-shadow: inset 0px -4px 0px #fff;

}
.main-nav li:hover {
  background-color: #242424;
}
.user-block {
  margin-right: 10px;
}
.login {
  float: right;
  position: relative;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 72px;
  padding-left: 48px;
  padding-right: 20px;
}
.login:before {
  content: '';
  position: absolute;
  top: 28px;
  left: 15px;
  width: 18px;
  height: 16px;
  background: url('../img/icon-login.png') no-repeat center;
}
.login:hover {
  background-color: #242424;
}
.login:hover:before {
  opacity: 0.3;
}
/*LOGO*/
.wrapper-logo {
  margin-top: 60px;
  margin-left: auto;
  margin-bottom: 0;
  margin-right: auto;
  width: 368px;
  height: 204px;
}
.main-logo {
  max-width: 100%;
}
/*ADVANTAGES*/
.advantages {
  margin-top: 25px;
  color: #fff;
  text-transform: uppercase;
}
.advantages-item {
  float: left;
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
.advantages-item span {
  font-size: 30px;
  font-weight: bold;
  line-height: 40px; 
}
.advantages-item span:after {
  display: block;
  margin: 0 auto;
  -moz-transform: rotate(45deg); /* Для Firefox */
  -ms-transform: rotate(45deg); /* Для IE */
  -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(45deg); /* Для Opera */
  transform: rotate(45deg);
  content: ' ';
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin-top: 11px;
  margin-bottom: 26px;
}
.advantages-item p {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px; 
  margin-bottom: 80px;
}
/*NEWS&PHOTO*/
.content {
  display: block;
  margin-bottom: 35px;
  margin-left: 10px;
  margin-right: 10px;
  background: #f8f5f2 url('../img/cont ent-cover.jpg');
}
.content-item {
  width: 360px;
  float: left;
  position: relative;
  margin-left: 60px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 56px;
}
.content-item:first-child {
  margin-right: 20px;
}
.content-item:first-child:before {
  content: '';
  display: block;
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -20px;
  background: url('../img/content-line.png') no-repeat center; 
}

.content-item h2 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 42px; 
  margin-top: 50px;
  margin-bottom: 26px;
}
.content-item p {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px; 
}
.content-item time {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px; 
  margin-bottom: 33px;
}
.content-gallery {
  position: relative;
  margin: 0;
  width: 300px;
  height: 178px;
  background-color: #ffffff;
}
.photo-gallery {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.prev,
.next {
  margin-top: 56px; 
  width: 72px;
}
p.new-paragraph {
  margin-bottom: 33px;
}
.form-item {
  display: inline-block;
  width: 140px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 24px;
}
.form-item:nth-child(2n-1) {
  margin-right: 20px;
}
.form-item input {
  font-family: 'PT Sans Narrow', sans-serif;
  width: 100px;
  padding-top: 10px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 10px;
  border: 2px #000 solid;
  outline: none;
}
input:focus,
input:hover {
  border-color: #663d15;
}
::-webkit-input-placeholder {font-size: 14px; color:#000; line-height:24px; text-transform: uppercase; opacity: .5;}
::-moz-placeholder          {font-size: 14px; color:#000; line-height:24px; text-transform: uppercase; opacity: .5;}/* Firefox 19+ */
:-moz-placeholder           {font-size: 14px; color:#000; line-height:24px; text-transform: uppercase; opacity: .5;}/* Firefox 18- */
:-ms-input-placeholder      {font-size: 14px; color:#000; line-height:24px; text-transform: uppercase; opacity: .5;}
.submit {
  min-width: 300px;
  margin-top: 3px;
  border: 0;
}
/*FOOTER*/
.footer {
  margin-top: 30px;
  background: #222222 url('../img/footer.png') repeat;
}
.footer-item {
  margin-top: 60px;
  float: left;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px; 
  color: #fff;
}
.footer-item:first-child {
  margin-right: 100px;
}
.footer-item:last-child {
  float: right;
}
.footer-find {
  color: #fff
}
.footer-title {
  text-align: center;
  margin-bottom: 18px;
}
.footer-social {
  display: inline-block;
  content: '';
  width: 43px;
  height: 43px;
  margin-right: 6px;
  font-size: 0;
  background: #070707 url('../img/social-sprite.png') no-repeat;
}
.footer-social:hover {
  background-color: #808080;
}
.footer-social:last-child {
  margin-right: 0;
}
.vk {
  background-position: 0 -43px;
}
.vk:hover {
  background-position: 0 0;
}
.facebook {
  background-position: -43px -43px;
}
.facebook:hover {
   background-position: -43px 0;
}

.inst {
  background-position: -86px -43px;
}
.inst:hover {
   background-position: -86px 0;
}
.htmlacademy-link:hover {
  color: #000;
  background-color: #808080;
}
